.board {
    display: flex;
    flex-grow: 1;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 3px;
    flex:.65;
    position: relative;
    top: 20px;
    border: 1px solid black;
    width: calc(100% - 20px);
    height: 100px;
    overflow: hidden;
    align-content: flex-start;
}

