.search-body {
    
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.search-body input {
    width: 250px;
    padding: 5px;
}