.p-container {
    margin: 0 auto;
    position: relative;
    top: 120px;
    display: flex;
    width: 1000px;
    height: 550px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.p-login{
    flex:0.5;
}
.p-register{
    flex: 0.5;
}

.middle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 20px;
    width: 1px;
    height: 500px;
    background-color: grey;
    color: black;    
}

.middle p {
    background-color: white;
    padding:4px;
    font-size: 2vw;
    z-index: 4px;
}